header, nav, main, footer{display:block;}
		
		*{
			box-sizing: border-box;
		}
		
		audio{
			display:block;
			margin-top: 1em;
		}
		
		video{
			float:right;
			margin-left:100px;
			margin-right:5px;
			padding-bottom: 5px;
			padding-top:0;
		}
		.clearleft{
			margin-left:1em;
			clear: left;
		}
		
		#herocouch{
			background-image:url(javacouch.jpg);
			background-size: contain;
			background-position:center;
			
			max-width:100%; 
			max-height:100%;
			background-repeat: no-repeat;
			height: 250px;
			
		}
		
		
		#heroroad{
			background-image:url(heroroad.jpg);
			background-size: 100%;
			background-repeat: repeat-x;
			height: 200px;
		}
		#heromugs{
			background-image:url(heromugs.jpg);
			background-size: 100%;
			background-repeat: repeat-x;
			height: 200px;
		}
		#heroguitar{
			background-image:url(heroguitar.jpg);
			background-size: 100%;
			background-repeat: repeat-x;
			height: 200px;
		}

	nav ul {list-style-type: none;
	padding-left: 0}
	nav a{text-decoration: none;}
	nav a:link{color: #fef6c2;}
	nav a:visited{color:#d2b48c;}
	nav a:hover{color:#cc9933;}
	
	table{
		width:90%;
		border-spacing:0;
		background-color: #ffffcc;	
	}
	
	tr:nth-of-type(odd) {background-color: #d2b48c;
	padding:10px;
	}
	td th{
		padding:10px;
	}
	.floatleft{	
		float:left;
		padding-right: 20px;
		padding-bottom: 20px;
	}
	
	#wrapper{width:80%;
			margin-left:auto;
			margin-right:auto;
			min-width: 900px;
			max-width: 1280px;
			background-color: #231814;
			box-shadow: 7px 7px black;
		}
		
main{
	padding-top: 0.1em;
	padding-bottom: 0em;
	padding-left: 0em;
	padding-right: 0em;
	margin-left: 200px;
	background-color: #fef6c2;
	
}
body{
	background-image:  url(background.gif);
	font-family: Verdana, Arial, Tahoma;
	}

header{background-color: #D2B48C;
		height: 150px;
		background-image: url(javajamlogo.jpg);
		background-repeat: no-repeat;
	}
	
	form{
		padding: 2em;
	}
	label{
		float: left;
		display:block;
		text-align:right;
		width: 8em;
		padding-right: 1em;
	}
	input{
		display:block;
		margin-bottom:1em;
	}
	textarea{
		display:block;
		margin-bottom: 1em;
	}
	
	#mysubmit{
		margin-left: 9.5em;
		
	}
	
	

h1{
padding-top:45px;
padding-left: 220px;
font-size: 3em;
	}

nav{	text-align: center;
		font-weight: bold;
		font-size: 1.5em;
		padding-top: 10px;
		float: left;
		width: 200px;
	}
	
h4{
	background-color: #D2B48C;
	font-size: 1.2em;
	padding-left: 10px;
	padding-bottom: 0;
	text-transform:uppercase;
	border-bottom:2px solid #221811;
	float:left 20px;
		
	}
	
	#indent{
		padding-right:3em;
		padding-left: 2em;
	}
	
	
	#details{
		padding-right:20%;
		padding-left: 20%;
		overflow: auto;
	}
	img{padding-left:10px;
	padding-right:10px;
	}

footer{background-color: #D2B48C;
		font-size: .60em;
			font-style: italic;
				text-align: center;
				padding-bottom:10px;
				border-bottom:2px solid #221811;
				margin-bottom: auto;
	}
	
	@media only screen and (max-width: 1024px){
		body{ margin: 0;
				background-image: none;}
				
		#wrapper{  min-width:0;
					width:auto;
					padding:0;
					margin: 0;
					box-shadow: none;}
		
		header{border-bottom= 5px solid #FEF6C2}
		
		h1{margin-top:0;
			margin-bottom: 1em;
			padding-top: 1em;
			padding-bottom: 1em;
			font-size: 2.5em;
		}
	nav{float:none;
	width:auto;
	padding-top: 0;
	margin: 10px;
	font-size: 1.3em;	
	}
	
	nav li{display: inline-block;}
	
	nav a{padding: 1em;
		width:8em;
		font-weight: bold;
		border-style: none;
	}
	
	nav ul{ margin:0;
	padding:0;}
	
	#heroroad{ margin:0;
	padding:0;
	background-repeat: repeat-x;
	}
	#heromugs{ margin:0;
	padding:0;
	background-repeat: repeat-x;
	}
	#heroguitar{ margin:0;
	padding:0;
	background-repeat: repeat-x;
	}
	
	main{ padding:0;
		margin: 0;
		font-size: 90%;
	}

	}
	


@media only screen and (max-width: 768px){
	
	header{height: 128px;
			background-image: url(javajammini.gif);}
			
	h1{font-size: 2em;
	text-align: center;
	padding-left: 0;	
	
	}
	
	nav{margin:0;
	}
	nav a{display:block;
	padding:0.2em;
	width:auto;
	border-bottom: 1px solid #FEF6C2;
	}
	
	nav li{display:block;
	}
	
	main{ padding-top:1px;
	}
	h2{padding-top:0.2em;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0.5em;
	margin-right:0.5em;
	}
	
	#details{padding-right:0;
		padding-left:0;
	}
	#heroroad{height: auto;
			background-image: none;
	}
	#heromugs{height: auto;
			background-image: none;
	}
	#heroguitar{height: auto;
			background-image: none;
	}
	#floatleft{padding-left:0.5em;
			padding-right:0.5em;
	}

	
#mobile{display: inline;}
#desktop{ display: none;}
}